<h3>
    <a href="{:U(GROUP_NAME.'/Article/addcat')}" class="actionBtn add">
        添加分类
    </a>
    {$title}
</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
        <tr>
            <th width="30">ID</th>
            <th width="120" align="left">分类名称</th>
            <th width="120" align="left">上级分类</th>
            <th width="140" align="left">添加时间</th>
            <th width="60" align="center">排序</th>
            <th align="center">操作</th>
        </tr>
        <foreach name="data" item="vo">
            <tr>
                <td align="center">{$vo.id}</td>
                <td align="left">{$vo.name}</td>
                <td align="left">{$vo.lastname}</td>
                <td>{$vo.addtime|date="Y/m/d",###}</td>
                <td align="center">{$vo.sort}</td>
                <td align="center">
                    <a href="{:U(GROUP_NAME.'/Article/addcat',array('pid'=>$vo['id']))}">添加子分类</a> |
                    <a href="{:U(GROUP_NAME.'/Article/index',array('cid'=>$vo['id']))}">查看内容列表</a> |
                    <a href="{:U(GROUP_NAME.'/Article/editcat',array('cid'=>$vo['id']))}">编辑</a> |
                    <a href="javascript:delCat('{$vo.name}','{:U(GROUP_NAME.'/Article/delcat',array('cid'=>$vo['id']))}');">删除</a>
                </td>
            </tr>
        </foreach>

    </table>
<script>
    function delCat(catname,jumpurl){
        layer.confirm(
                '确定要删除分类:['+catname+']吗?',
                function (){
                    window.location.href = jumpurl;
                }
        );
    }
</script>