<if condition="$install_status eq 1">
    <div class="warning">您还没有删除 install 文件夹，出于安全的考虑，我们建议您删除 install 文件夹。</div>
</if>

<div id="douApi"></div>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="indexBoxTwo">
    <tr>
        <td width="65%" valign="top" class="pr">
            <div class="indexBox">
                <div class="boxTitle">&#x7CFB;&#x7EDF;&#x57FA;&#x672C;&#x4FE1;&#x606F;-&#x672C;&#x6E90;&#x7801;&#x6765;&#x81EA;&#x963F;&#x83AB;&#x4E4B;&#x5BB6;&#xFF01;</div>
                <ul>
                    <table width="100%" border="0" cellspacing="0" cellpadding="7" class="tableBasic">
                        <tr>
                            <td width="120">PHP 版本：</td>
                            <td><strong> <php>echo PHP_VERSION;</php> </strong></td>
                            <td width="100">Base版本：</td>
                            <td><strong> v<php>echo THINK_VERSION;</php> </strong></td>
                        </tr>
                        <tr>
                            <td>缓存目录：</td>
                            <td><strong> <php>echo TEMP_PATH;</php> </strong></td>
                            <td>系统语言：</td>
                            <td><strong>zh_cn</strong></td>
                        </tr>
                        <tr>
                            <td>调试模式：</td>
                            <td><strong> <php>if(APP_DEBUG)echo '是';else echo '否';</php> </strong></td>
                            <td>当前IP：</td>
                            <td><strong> <php>echo get_client_ip();</php> </strong></td>
                        </tr>
                        <tr>
                            <td>内存统计支持：</td>
                            <td><strong> <php>echo MEMORY_LIMIT_ON;</php> </strong></td>
                            <td>编码：</td>
                            <td><strong>UTF-8</strong></td>
                        </tr>
                        <tr>
                            <td>SomCNS版本：</td>
                            <td><strong>v{:C('install_vis')}</strong></td>
                            <td>安装日期：</td>
                            <td><strong> {:C('install_time')} </strong></td>
                        </tr>
                    </table>
                </ul>
            </div>
        </td>
        <td valign="top" class="pl">
            <div class="indexBox">
                <div class="boxTitle">登录记录</div>
                <ul>
                    <table width="100%" border="0" cellspacing="0" cellpadding="7" class="tableBasic">
                        <tr>
                            <th width="45%">IP地址</th>
                            <th width="55%">登录时间</th>
                        </tr>
                        <foreach name="loginData" item="vo">
                            <tr>
                                <td align="center">{$vo.loginip}</td>
                                <td align="center">{$vo.logintime|date='Y/m/d H:i:s',###}</td>
                            </tr>
                        </foreach>
                    </table>
                </ul>
            </div>
        </td>
    </tr>
</table>
<div class="indexBox">
    <div class="boxTitle">服务器信息</div>
    <ul>
        <table width="100%" border="0" cellspacing="0" cellpadding="7" class="tableBasic">
            <tr>
                <td width="120" valign="top">PHP 版本：</td>
                <td valign="top"> <php>echo PHP_VERSION;</php> </td>
                <td width="100" valign="top">MySQL 版本：</td>
                <td valign="top"> <php>echo mysql_get_server_info();</php> </td>
                <td width="100" valign="top">服务器操作系统：</td>
                <td valign="top"> <php>echo PHP_OS;</php> </td>
            </tr>
            <tr>
                <td valign="top">文件上传限制：</td>
                <td valign="top">2M</td>
                <td valign="top">GD 库支持：</td>
                <td valign="top"> <php>if(function_exists('imagecreate')){echo '是';}else{echo '否';}</php> </td>
                <td valign="top">Web 服务器：</td>
                <td valign="top"> <php>echo php_uname();</php> </td>
            </tr>
        </table>
    </ul>
</div>