<h3>
    {$title}
</h3>
<div class="filter">
    <form action="{:U(GROUP_NAME.'/Payorder/index')}" method="post">
        <input name="keyword" type="text" class="inpMain" value="{$keyword}" size="20" />
        <input name="submit" class="btnGray" type="submit" value="筛选" />
    </form>
</div>
<div id="list">
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
            <tr>
                <th width="50" align="center">ID</th>
                <th width="150" align="center">订单号</th>
                <th width="100" align="center">用户名</th>
                <th width="80">支付类型</th>
                <th width="80">金额</th>
                <th width="150" align="center">创建日期</th>
                <th width="80">状态</th>
                <th width="120">个人资料</th>
                <th align="center">操作</th>
            </tr>
            <volist name="list" id="vo">
                <tr>
                    <td align="center">{$vo.id}</td>
                    <td align="center">{$vo.ordernum}</td>
                    <td align="center">{$vo.user}</td>
					<td align="center">{$vo.type}</td>
					<td align="center">{$vo.money}</td>
                    <td align="center">{$vo.addtime|date='Y-m-d',###}</td>
                    <!-- <td align="center">
                    	<php>
                    		if($vo['status']){
                    			echo "已支付";
                    		}else{
                    			echo "未支付";
                    		}
                    	</php>
                    </td> -->
                    <if condition="$vo['status'] eq 0 ">
                    <td align="center" style="color:red">未支付</td>
                    <else />
                    <td align="center" style="color:green">已支付</td>
                    </if>
                    <th align="center" width="120"><a onmouseover="this.style.color='red'" onmouseout="this.style.color='#626262'" href="{:U(GROUP_NAME.'/User/userinfo',array('user' => $vo['user']))}">查看资料</a></th>
                    <td align="center">
                        <a href="javascript:del('{$vo.ordernum}','{:U(GROUP_NAME.'/Payorder/del',array('id'=>$vo['id']))}');">删除订单</a>
                    </td>
                </tr>
            </volist>
        </table>
</div>
<div class="clear"></div>
<div class="pager">
    {$page}
</div>
</div>
<script>
    function del(num,jumpurl){
        layer.confirm(
                '确定要删除订单:'+num+'吗?',
                function (){
                    window.location.href = jumpurl;
                }
        );
    }
</script>