    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="__ROOT__assets/libs/layer_mobile/layer.js"></script>
    <script>

      	// 保存人员
      	function save(sta){
          layer.open({
              type: 2
              ,shadeClose: false
              ,content: '请等一会...'
          });
          $('button').attr('disabled',true);
          $('button').attr('disabled',false);
      		switch(sta)
    			{
    			case 1:
      				var url = "{:url('add')}";
      				var data = { name: $('#recipient-name').val()};
      			  break;
    			case 2:
      				var url = "{:url('userdaka')}";
      				var data = { userid: $('#userid').val(), id: $('#thisid').val(), status: $('#statuss').val(), time:$('#time').val(), info:$('#note').val()};
      			  break;
          case 3:
              var url = "{:url('addrecord')}";
              var data = { record: $('#loginfo').val(),warn: $('#warn').val()};
              break;
          case 4: //删除记录
              var url = "{:url('delrecordlog')}";
              var data = { id: $('#recordlogid').val()};
              break;
    			default:
              layer.closeAll()
    			    return false;
    			}

      		$.post(url,data,function(res,status){
        			if(res){
                    layer.open({  content: res.msg+'即将刷新页面~' ,btn: '我知道了' });
          				  location.reload();
        			}else{
                    layer.open({ title: [res.msg, 'background-color: #FF4351; color:#fff;' ] ,content: '' });
        			}

             layer.close(0)
  		    });
      	}

      	// 打开记工的页面
      	$('.jigong_class').on('click',function (){
        		$('#userid').val($(this).attr('userid'));
            $('#thisid').val($(this).attr('id'));
        		$('#time').val($(this).attr('time'));
            $('#note').val($(this).attr('placeholder'));
            $('#daka').modal();
            // 获取当前记工时间
        		var status = $(this).attr('status');
            // 清除所有选中未选中
            $('.chack').removeClass("btn-default btn-success");
            //设置所有默认
            $('.chack').addClass("btn-default");
            
            if(status == 5){
              $('.halfday').addClass("btn-success");
              $('#statuss').val(5);
            }
            if(status == 10){
              $('.ontday').addClass("btn-success");
              $('#statuss').val(10);
            }

      	})

        // 打开页面方法
        function openpage(id){
          $('#'+id).modal();
        }

        function layerWin(id){
          $('#recordlogid').val(id)
           layer.open({
            content: '要删除这个记录嘛？不删除点上面黑的！'
            ,btn: ['取消', '删除']
            ,skin: 'footer'
            ,no: function(index){
              save(4);
              layer.open({content: '执行删除操作'})
            }
          });
        }

      	$('.chack').on('click',function (){
            // 清空全部选择
            $('.chack').removeClass("btn-success");
            // 全部
            $('.chack').addClass("btn-default");
            $(this).addClass("btn-success");
            //
      		  $('#statuss').val($(this).attr('status'));
      	})
    </script>
  </body>
</html>