{include file='index/jigong_head' /}


<div class="bosy container">
 <div class="panel panel-default" style="overflow: hidden;">
  <div class="alert alert-success" role="alert" style="margin-bottom:0px;border-radius: 0px;">
    记录时间：{$title.time}<h3 class="text-center" onclick="openpage('addtitle')">{$title.record}</h3>
  </div>
  <a type="button" style="border-radius: 0px;" class="btn btn-success btn-lg btn-block" href="{:url('recordlog')}">所有记录</a>
  </div>
</div>

    <div class="bosy container">
      <div class="panel panel-default" style="overflow: hidden;">
        <button type="button" class="btn btn-primary  btn-lg btn-block" onclick="openpage('add')" style="margin-bottom: 10px;">添加人员</button>

        <label class="col-sm-6 col-xs-6 control-label">
                <select class="form-control">
                  {volist name="year" id="vo"}
                    <option value="{$vo.year}">{$vo.year}年</option>
                  {/volist}
                </select>
        </label>
        <label class="col-sm-6 col-xs-6 control-label">
                <select class="form-control">
                {volist name="month" id="vo"}
                  <option value="{$vo.month}">{$vo.month}月</option>
                {/volist}
                </select>
        </label>
          
      <!-- </div> -->
      	<div class="bosy container" style="position: relative;margin-top:55px;padding:0px">
      		<div style="width:16%; position:fixed;background:white">
      			<table class="table table-bordered">
    		      <thead><tr><th>姓名</th></tr></thead>
    		      <tbody>{volist name="data" id="vo"}<tr><th scope="row">{$vo.name}</th></tr>{/volist}</tbody>
    		    </table>
      		</div>
      		<div class="right" style="width:83%;margin-bottom: 10px;">
      			<table class="table table-bordered">
    		      <thead>
    		        <tr>{for start="1" end="32"}<th style="width:30px">{$i}日</th>{/for}</tr>
    		      </thead>
    		      <tbody>
    		      	{volist name="data" id="vo"}
    				    <tr>
    					    {volist name="vo['card']" id="i"}
    			          <td>
        						  <div class="jigong_class {if condition='isset($i.status)'}{switch $i.status}{case 10}quan{/case}{case 5}ban{/case}{/switch}{else /}def{/if}" userid="{$vo.id}" id="{if condition='isset($i.id)'}{$i.id}{/if}" status='{if condition='isset($i.status)'}{$i.status}{/if}' time='{$i.nowtime}' placeholder="{if condition='isset($i.info)'}{$i.info}{/if}">
                        {notempty name="i.info"}
                            <div class="havemsg"></div>
                        {/notempty}
                      </div>
    						    </td>
    			        {/volist}
    		        </tr>
    				    {/volist}
    		      </tbody>
    		    </table>
          </div>
      		</div>
      	</div>
      </div>
    	




{include file='index/jigong_foot' /}