{include file='index/jigong_head' /}

    <!-- body -->
  	<div class="bosy container">

  		<button type="button" class="btn btn-primary btn-lg btn-block" onclick="openpage('addtitle')">添加一个记录</button>
      <input type="hidden" id="recordlogid" value="">
      <div class="panel panel-success bosy">
        <div class="panel-heading">记录列表</div>
          <ul class="list-group">
            {volist name="data" id="vo"}
            <li class="list-group-item {empty name='vo.warn'}disabled{/empty}" {notempty name='vo.warn'}onclick="layerWin({$vo.id})"{/notempty}>
            
              {if condition="$vo.warn eq 3"}
              <span class="badge" style="background:#d9534f">提醒</span>
              {/if}
              <h4 class="list-group-item-heading">记录时间：{$vo.time}</h4>
              <h4 class="list-group-item-heading" style="margin-top:15px">{$vo.record}</h4>
            </li>
            {/volist}
          </ul>
          {$data->render()}
      </div>
  	</div>
  	
    <!-- 底部返回 -->
    <a class="btn btn-success btn-lg btn-block return" href="{:url('jigong')}">返回记工</a>


{include file='index/jigong_foot' /}