<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Merchant_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-merchant_name" data-rule="required" class="form-control form-control" name="row[merchant_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Merchant_form')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-merchant_form" data-rule="required" class="form-control form-control" name="row[merchant_form]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Merchant_phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-merchant_phone" class="form-control form-control" name="row[merchant_phone]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Merchant_site')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-merchant_site" class="form-control form-control" name="row[merchant_site]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Merchant_class')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="form-control form-control" required="" name="row[merchant_class]">
            {foreach name="MerchantClass" item="vo"}
                <option value="{$vo.id}">{$vo.name}</option>
            {/foreach}
            </select>
            <!-- <input id="c-merchant_class" data-rule="required" class="form-control form-control" name="row[merchant_class]" type="number"> -->
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
