<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shop_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="shopStatusList" item="vo"}
            <label for="row[shop_status]-{$key}"><input id="row[shop_status]-{$key}" name="row[shop_status]" type="radio" value="{$key}" {in name="key" value="1"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shop_totle')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shop_totle" data-rule="required" class="form-control form-control" name="row[shop_totle]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shop_description')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" id="c-shop_description" name="row[shop_description]"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shop_skin')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-shop_skin" class="form-control selectpicker" name="row[shop_skin]">
                {foreach name="shopSkinList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shop_site')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" id="c-shop_site" name="row[shop_site]"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shop_type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-shop_type" class="form-control selectpicker" name="row[shop_type]">
                {foreach name="shopTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shop_coord')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shop_coord" class="form-control form-control" name="row[shop_coord]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
